body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
  background-color: red;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.wrapper{
  height: 1000px;
  width: 500px;
  display:flex;
  flex-wrap: wrap;
  position: relative;
  gap: 10px 20px;
  margin: 0 auto 100px;
  transition: width 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.sportsman-card {
    position: relative;
    width: 200px;
    height: 231px;
    margin-top: 20px;
	padding-top: 10px;
	border-radius: 10px;
	transition: all 1s ease-in-out;

  }
  .image {
    width: 200px;
    height: 200px;
    display: block;
	margin: 0 auto;
    border-radius: 100px;
    margin-bottom: 8px;
    transition: all 0.5s ease-in-out;
  }

  .numb {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 75px;
    right: 10px;
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8B0000;
  }

  .name {
    margin: 0 auto;
    width: 74px;
    text-align: center;
    color: #2F4F4F;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  .sportsman-card:hover {
    background-color: #EEEEEE;
    height: 289px;
    margin-bottom: -69px;
    border-radius: 10px;
    z-index: 1 ;
   
  }
  @media (min-width:1000px){
    .wrapper{
      width: 890px;
      height: 800px;
    }
  }
  .sportsman-card:hover::after {
    display: flex;
    justify-content: center;
    margin-top: 9px;
    font-size: 18px;
  }
  
  .sportsman-card:nth-child(1):hover::after {
    content: "Boxing, $450M";
  }
  
  .sportsman-card:nth-child(2):hover::after {
    content: "Football, $126M";
  }
  
  .sportsman-card:nth-child(3):hover::after {
    content: "Football, $127M";
  }
  
  .sportsman-card:nth-child(4):hover::after {
    content: "FreeFight, $43M";
  }
  
  .sportsman-card:nth-child(5):hover::after {
    content: "Football, $37M";
  }
  
  .sportsman-card:nth-child(6):hover::after {
    content: "Basketball, $43M";
  }
  
  .sportsman-card:nth-child(7):hover::after {
    content: "Tennis, $30M";
  }
  
  .sportsman-card:nth-child(8):hover::after {
    content: "Basketball, $95M";
  }
  
  .sportsman-card:nth-child(9):hover::after {
    content: "Football, $25.5M";
  }
  
  .sportsman-card:nth-child(10):hover::after {
    content: "Football, $23.5M";
  }
  @keyframes example {
    from {
      background-color: red;
    }
    to {
      background-color: purple;
    }
    .image:hover {
      border-radius: 10px;
      outline: 10px solid red;
      transform: rotate(360deg) scale(0.5) translateY(300px);
    }
    .numb {
      position: absolute;
      top: 75px;
      right: 10px;
      width: 32px;
      height: 32px;
      background: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .name {
      margin: 0 auto;
      width: 74px;
      text-align: center;
    }
    